$body-bg: #333;
$font-color: #fff;
$primary-color: #008ed6;
$icon-font-size: 30px;
body{
    background: $body-bg;
    color: $font-color;
}
.navbar{
    border-bottom: 3px solid $primary-color;
    background: #292b2c;
    opacity: 0.7;
}
#home-section{
    background-image: url('../img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    .dark-overlay{
        background: rgba(0,0,0,0.6);
        min-height: 700px;
    }
    .fa{
        background: #fff;
        color: $primary-color;
        padding: 4px;
        font-size: $icon-font-size;
        border-radius: 5px;
    }
    .card-form{
        opacity: 0.9;
    }
    .home-inner{
        padding-top: 150px;
        padding-bottom: 50px;
    }
}

#explore-main-section{
    .fa{
        font-size: $icon-font-size;
        background: #333;
        color: $font-color;
        padding: 4px;
        border-radius: 5px;
    }
}

#create-main-section{
    .fa{
        font-size: $icon-font-size;
        color: $primary-color;
        background: #fff;
        padding: 4px;
        border-radius: 5px;
    }
}

#share-main-section{
    .fa{
        font-size: $icon-font-size;
        color: $font-color;
        background: $body-bg;
        padding: 4px;
        border-radius: 5px;
    }
}


@media(max-width: 768px){
    #home-section h1{
        font-size: 36px;
    }
}
