$icon-size: 50px;
$dark-overlay: rgba(0,0,0,0.5);
$danger-color: #dc3545;

.navbar{
    background: $danger-color;
    .nav-item{
        padding-left: 1rem;
        .nav-link{
            text-transform: uppercase;
        }
    }
}
.carousel-item{
    height: 500px;
}
.carousel-img-1{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/image1.jpg');
    background-size: cover;
}
.carousel-img-2{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/image2.jpg');
    background-size: cover;
}
.carousel-img-3{
    background: url('../img/image3.jpg');
    background-size: cover;
}
#homeicon{
    .fa{
        font-size: $icon-size;
    }
}
#getstarted{
    position: relative;
    background: url('../img/bg-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;

    .dark-overlay{
        background: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
#homevideo{
    @extend #getstarted;
    background: url('../img/people.jpg');
    .dark-overlay{
        background: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .fa{
            font-size: $icon-size;
        }
    }
}
#gallery{
    img{
        min-height: 250px;
    }
}
#copyright{
    background: $danger-color;
}
#pageheader{
    background: url('../img/image3.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 200px;
}
#aboutinfo{
    img{
        height: 350px;
        width: 350px;
        border: 2px solid $danger-color;
    }
}
#iconboxes{
    .fa{
        font-size: $icon-size;
        margin-bottom: 20px;
    }
}
#testimonial{
    .slick-prev::before,
    .slick-next::before{
        color: #000;
    }
}
#servicespageheader{
    background: url('../img/image4.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 200px;
}
#blogpageheader{
    @extend #servicespageheader;
    background: url('../img/image3.jpg
    ');
}
#blogpost{
    img{
        min-height: 230px;
    }
}
@media(max-width:767px){
    .navbar{
        .nav-item{
            padding-left: 0rem !important;
        }
    }
    #getstarted{
        min-height: 300px;
    }
}
@media(max-width: 480px){
    .carousel{
        h2{
            font-size: 2.5rem;
        }
    }
    #getstarted{
        min-height: 360px;
    }
}
