body {
  margin-top: 90px; }
  body .bg-primary {
    background: #3292a6 !important; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
  opacity: 0.9; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }
    .navbar .nav-item .nav-link {
      color: #252525; }
    .navbar .nav-item .nav-link:hover {
      color: #3292a6; }
  .navbar .nav-item:last-child {
    padding-right: 0; }

#showcase {
  position: relative;
  background-image: url("../img/mountain.jpg");
  background-attachment: fixed;
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 156, 0.7);
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #showcase .btn, #showcase .btn-outline-light, #showcase .btn-lg {
    border-radius: 0px; }

#subscribe .form-control {
  border-radius: 0px; }

#subscribe .btn, #subscribe .btn-outline-light, #subscribe .btn-lg {
  border-radius: 0px; }

#subscribe .btn-primary {
  background-color: #3292a6;
  border: 1px solid #3292a6; }

#boxes .card {
  border-radius: 0px; }

#boxes .text-primary {
  color: #3292a6 !important; }

#boxes .bg-primary {
  background: #3292a6 !important; }

#boxes .border-primary {
  border-color: #3292a6 !important; }

#about .text-primary {
  color: #3292a6 !important; }

#accordion .card {
  border-radius: 0px; }

#authors .card {
  border-radius: 0px; }

#authors img {
  margin-top: -50px; }

#authors .fa {
  font-size: 25px;
  color: #3292a6; }

#authors .card:hover {
  background: #3292a6;
  color: #fff; }
  #authors .card:hover .fa {
    color: #fff; }

#authors .text-primary {
  color: #3292a6 !important; }

#contact .form-control, #contact .btn, #contact .input-group, #contact .input-group-prepend, #contact .input-group-lg, #contact .input-group-text {
  border-radius: 0px; }

#contact .btn-primary {
  background-color: #3292a6;
  border: 1px solid #3292a6; }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 4rem; } }
