.navbar {
  background: #dc3545; }
  .navbar .nav-item {
    padding-left: 1rem; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }

.carousel-item {
  height: 500px; }

.carousel-img-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/image1.jpg");
  background-size: cover; }

.carousel-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/image2.jpg");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/image3.jpg");
  background-size: cover; }

#homeicon .fa {
  font-size: 50px; }

#getstarted, #homevideo {
  position: relative;
  background: url("../img/bg-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 250px; }
  #getstarted .dark-overlay, #homevideo .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#homevideo {
  background: url("../img/people.jpg"); }
  #homevideo .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #homevideo .dark-overlay .fa {
      font-size: 50px; }

#gallery img {
  min-height: 250px; }

#copyright {
  background: #dc3545; }

#pageheader {
  background: url("../img/image3.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 200px; }

#aboutinfo img {
  height: 350px;
  width: 350px;
  border: 2px solid #dc3545; }

#iconboxes .fa {
  font-size: 50px;
  margin-bottom: 20px; }

#testimonial .slick-prev::before,
#testimonial .slick-next::before {
  color: #000; }

#servicespageheader, #blogpageheader {
  background: url("../img/image4.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 200px; }

#blogpageheader {
  background: url("../img/image3.jpg\a     "); }

#blogpost img {
  min-height: 230px; }

@media (max-width: 767px) {
  .navbar .nav-item {
    padding-left: 0rem !important; }
  #getstarted, #homevideo {
    min-height: 300px; } }

@media (max-width: 480px) {
  .carousel h2 {
    font-size: 2.5rem; }
  #getstarted, #homevideo {
    min-height: 360px; } }
