$primary: #3292a6;
$primary-overlay: rgba(50, 146, 156, 0.7);
body{
    margin-top: 90px;
    .bg-primary{
        background: $primary !important;
    }
}
.navbar{
    box-shadow: 2px 2px 5px $primary;
    background: #fff;
    opacity: 0.9;
    .nav-item{
        font-size: 1.4rem;
        padding-right: 20px;
        .nav-link{
            color: #252525;
        }
        .nav-link:hover{
            color: $primary;
        }
    }
    .nav-item:last-child{
        padding-right: 0;
    }
}
#showcase{
    position: relative;
    background-image: url('../img/mountain.jpg');
    background-attachment: fixed;
    min-height: 600px;
    .primary-overlay{
        background: $primary-overlay;
        min-height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .btn, .btn-outline-light, .btn-lg{
        border-radius: 0px;
    }
}
#subscribe{
    .form-control{
        border-radius: 0px;
    }
    .btn, .btn-outline-light, .btn-lg{
        border-radius: 0px;
    }
    .btn-primary{
        background-color: $primary;
        border: 1px solid $primary;
    }
}

#boxes{
    .card{
        border-radius: 0px;
    }
    .text-primary{
        color: $primary !important;
    }
    .bg-primary{
        background: $primary !important;
    }
    .border-primary{
        border-color: $primary !important;
    }
}
#about{
    .text-primary{
        color: $primary !important;
    }
}
#accordion{
    .card{
        border-radius: 0px;
    }
}
#authors{
    .card{
        border-radius: 0px;
    }
    img{
        margin-top: -50px;
    }
    .fa{
        font-size: 25px;
        color: $primary;
    }
    .card:hover{
        background: $primary;
        color: #fff;
        .fa{
            color: #fff;
        }
    }
    .text-primary{
        color: $primary !important;
    }
}
#contact{
    .form-control, .btn, .input-group, .input-group-prepend, .input-group-lg, .input-group-text{
        border-radius: 0px;
    }
    .btn-primary{
        background-color: $primary;
        border: 1px solid $primary;
    }
}
@media(max-width: 576px){
    #showcase{
        h1{
            font-size: 4rem;
        }
    }
}
